{% extends 'layout.html' %}
{%block title %}Orbipedia - Map {% endblock %}

{%block body %}


<div class="about container">
  <h3 class = 'about-title text-center'>About</h1>
  <p class = 'about-paragraph  text-center'>Orbipedia is a website that shows man made space objects information, such as launch date, decay date, apogee, perigee and many more. Orbipedia also provides not decayed object's orbits and live location for the next 90 minutes of the current time, hoping to add many more features soon.</p>
  <p class = 'about-paragraph  text-center'>All data in Orbipedia are retrieved by the 18th Space Control Squadron under an approved ODR application until 1-February-2022 by www.space-track.org API. Redistribution of the data in Orbipedia is illegal as long as you don't have an approved Orbital Data Request application from the 18th Space Control Squadron for redistribution of this data.</p>
  <p class = 'about-paragraph  text-center'>Author: Rami Janini</p>


</div>
{% endblock %}
