  {% extends 'layout.html' %}
  {%block title %} Orbipedia - Home {% endblock %}
  {%block head %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/11594dbfbf.js" crossorigin="anonymous"></script>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  {% endblock %}


{%block body %}
<div id="particles-js"></div>
<div class="alert alert-danger" role="alert" id="danger-alert" style="display: none">
  <strong>Error!</strong>
 Cannot find satellite name or ID submitted.
</div>

    <div class="col-xl-3-12 text-center">
      <h1 class="title">Orbipedia <i class="fas fa-space-shuttle"></i></h1>
    </div>
    <div class="col-xl-3-12 text-center">




<div class="col-md-4 offset-md-4 mt-5  pt-3">
      <form>
        <input  type="text" id='autocomplete' name="satellite_info" placeholder="Search satellite by name or catalog ID.">

      <button><i class="fa fa-search-location fa-3x"></i></button>
    </form>
</div>


<div id='data' class="container">
    <div class="row">
    <div class="col-xl-3">
      <ul class="list-group">
        <li class='list-group-item'>Norad ID:  <span id="NORAD_CAT_ID">Undefined</span></li>
        <li class='list-group-item'>Satellite name:  <span id="SATNAME">Undefined</span></li>
        <li class='list-group-item'>INTLDES:  <span id="INTLDES">Undefined</span></li>
        <li class='list-group-item'>Object type:  <span id="OBJECT_TYPE">Undefined</span></li>
        <li class='list-group-item'>Country:  <span id="COUNTRY">Undefined</span></li>
        <li class='list-group-item'>Launch date:  <span id="LAUNCH">Undefined</span></li>
      </ul>
    </div>

    <div class="col-xl-3">
      <ul class="list-group">
        <li class='list-group-item'>Site:  <span id="SITE">Undefined</span></li>
        <li class='list-group-item'>Decay date:  <span id="DECAY">Undefined</span></li>
        <li class='list-group-item'>Period:  <span id="PERIOD">Undefined</span></li>
        <li class='list-group-item'>Inclination:  <span id="INCLINATION">Undefined</span></li>
        <li class='list-group-item'>Apogee:  <span id="APOGEE">Undefined</span></li>
        <li class='list-group-item'>Perigee:  <span id="PERIGEE">Undefined</span></li>
      </ul>
    </div>

    <div class="col-xl-3">
      <ul class="list-group">
        <li class='list-group-item'>Comment:  <span id="COMMENT">Undefined</span></li>
        <li class='list-group-item'>Comment code:  <span id="COMMENTCODE">Undefined</span></li>
        <li class='list-group-item'>RCS value:  <span id="RCSVALUE">Undefined</span></li>
        <li class='list-group-item'>RCS size:  <span id="RCS_SIZE">Undefined</span></li>
        <li class='list-group-item'>File:  <span id="FILE">Undefined</span></li>
        <li class='list-group-item'>Launch year:  <span id="LAUNCH_YEAR">Undefined</span></li>
      </ul>
    </div>

    <div class="col-xl-3">
      <ul class="list-group">
        <li class='list-group-item'>Launch number:  <span id="LAUNCH_NUM">Undefined</span></li>
        <li class='list-group-item'>Launch piece:  <span id="LAUNCH_PIECE">Undefined</span></li>
        <li class='list-group-item'>Current:  <span id="CURRENT">Undefined</span></li>
        <li class='list-group-item'>Object name:  <span id="OBJECT_NAME">Undefined</span></li>
        <li class='list-group-item'>Object ID:  <span id="OBJECT_ID">Undefined</span></li>
        <li class='list-group-item'>Object number:  <span id="OBJECT_NUMBER">Undefined</span></li>
      </ul>
    </div>
</div>


<button id="openMap" type="button" class="btn btn-primary btn-lg btn-block">Show satellite live location on map.</button>
</div>

<script type="text/javascript">
  $('#openMap').click(function() {
    id = document.getElementById('NORAD_CAT_ID').innerText;
    console.log(id);
    window.location='map?id=' + id;
  });
</script>

<script type="text/javascript">
$(function() {
  $.ajax({
      url: '{{ url_for("autocomplete") }}'
      }).done(function (data) {
          $('#autocomplete').autocomplete({
            source: function(request, response){
              var results = $.ui.autocomplete.filter(data, request.term);
              response(results.slice(0, 12));
            }
          });
      });
  });

</script>


<script type="text/javascript">
  function isEmpty() {
    var data = JSON.parse('{{ cat_data | tojson | safe}}');
    if (data.ERROR == true){
      if (data.COMMENT == ''){
        return true
      } else{
        var div = document.getElementById("danger-alert");
        div.style.display = '';
        $("#danger-alert").fadeTo(4000, 500).slideUp(500, function(){
        $("#danger-alert").slideUp(500);
      });
        return true
      }

  } else{
    return false
  }
  }

  var data = JSON.parse('{{ cat_data | tojson | safe}}');
    document.getElementById('NORAD_CAT_ID').innerHTML = data.NORAD_CAT_ID;
    document.getElementById('SATNAME').innerHTML = data.SATNAME;
    document.getElementById('INTLDES').innerHTML = data.INTLDES;
    document.getElementById('OBJECT_TYPE').innerHTML = data.OBJECT_TYPE;
    document.getElementById('COUNTRY').innerHTML = data.COUNTRY;
    document.getElementById('LAUNCH').innerHTML = data.LAUNCH;
    document.getElementById('SITE').innerHTML = data.SITE;
    document.getElementById('DECAY').innerHTML = data.DECAY;
    document.getElementById('PERIOD').innerHTML = data.PERIOD;
    document.getElementById('INCLINATION').innerHTML = data.INCLINATION;
    document.getElementById('APOGEE').innerHTML = data.APOGEE;
    document.getElementById('PERIGEE').innerHTML = data.PERIGEE;
    document.getElementById('COMMENT').innerHTML = data.COMMENT;
    document.getElementById('COMMENTCODE').innerHTML = data.COMMENTCODE;
    document.getElementById('RCSVALUE').innerHTML = data.RCSVALUE;
    document.getElementById('RCS_SIZE').innerHTML = data.RCS_SIZE;
    document.getElementById('FILE').innerHTML = data.FILE;
    document.getElementById('LAUNCH_YEAR').innerHTML = data.LAUNCH_YEAR;
    document.getElementById('LAUNCH_NUM').innerHTML = data.LAUNCH_NUM;
    document.getElementById('LAUNCH_PIECE').innerHTML = data.LAUNCH_PIECE;
    document.getElementById('CURRENT').innerHTML = data.CURRENT;
    document.getElementById('OBJECT_NAME').innerHTML = data.OBJECT_NAME;
    document.getElementById('OBJECT_ID').innerHTML = data.OBJECT_ID;
    document.getElementById('OBJECT_NUMBER').innerHTML = data.OBJECT_NUMBER;

  var check_json = isEmpty(data)
  if(check_json == true){
    var div = document.getElementById('data');
    div.style.display = 'none';
  } else{
    var div = document.getElementById('data');
    div.style.display = '';
  }


</script>

  {% endblock %}
